body {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  word-break: break-all;
}

.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

main {
  width: 800px;
}

@media (max-width: 700px) {
  .sidebar {
    padding: 0;
  }
  .content {
    flex-direction: column;
  }
  main {
    width: 100%;
  }
}
